calfData_b435_d220319/
__pycache__/
*.xlsx
.vs/
.idea/
.venv/
.venv311/

# Görüntü İşleme Verileri
GoruntuIsleme/dataset/
GoruntuIsleme/buzagi_veriseti/
GoruntuIsleme/output/
GoruntuIsleme/runs/
*.pt
*.engine
*.csv
